
{% extends 'home.html'%}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

 <link rel="stylesheet" href="{% static 'css/books.css' %}">

</head>
<body>

<!--        <div class="bg-image" style="background-image: url('{% static 'image/lib.png' %}')">-->

<!--<header >-->
<!--    <div class="p-8 text-center bg-image ">-->
<!--        <div class="bg-image-header" style="background-image: url('{% static 'image/bk.png' %}')">-->
<!--                <div class="d-flex justify-content-center align-items-center h-100">-->
<!--                    <div class="text-white">-->
<!--                        <br>-->
<!--                        <h1 class="mb-3">Online Book Store</h1>-->
<!--                        <h4 class="mb-3">Books</h4>-->
<!--                        <a class="btn btn-outline-light btn-lg" href="#!" role="button">Book list</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->






<div class="container">
        <div class="row">
            {% for each in object_list %}

            <div class="col-md-3">
                <div class="card" style="width: 300px;">
                    <img class="card-img-top custom-card-img" src="{{each.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{each.title}}</h5>

                         <p class="card-price">{{each.price}}</p>

                        {% if each.book_available is True %}
                        <p>available</p>
                        <a class="btn btn-success" href="{% url 'add_to_cart' each.id  %}" onclick="alert('Item added to cart')">Add to Cart</a>

                        {% else %}
                        <p>out of stock</p>
                        {% endif %}
                        <a href="{% url 'detail_view' each.id %}" class="btn btn-primary">View</a>
<!--                        <a class="btn btn-success" href="{% url 'mycart' %}">Add to cart</a>-->
<!--                        <a class="btn btn-success" href="{% url 'mycart' %}" onclick="alert('Item added to cart')">Add to Cart</a>-->


                    </div>
                </div>
            </div>
             {% endfor %}
    </div>

</div>

</body>
</html>
{% endblock content %}